{% extends "base.html" %}
{% block title %} Download APK {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item active{% endblock %}
{% block relatorios %}item {% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
    <div class='ui grid'>
        <div class='row'>
            <div class='three wide column'></div>
            <div class='ten wide column'>

                <form method="POST" action="{% url 'upload_apk' %}" class='ui form' enctype="multipart/form-data">
                    {% csrf_token %}

                    <h2 class='ui header'>
                        <i class="fa fa-motorcycle icone"></i> Informe a APK para ser guardada
                    </h2>
                    {% if erro == 'erro_arquivo' %}
                        <div class="eight wide column ui negative message">
                            <div class="header">
                                Arquivo inválido
                            </div>
                        </div>
                    {% elif erro == 'erro_servidor' %}
                        <div class="eight wide column ui negative message">
                            <div class="header">
                                Não há apk no servidor
                            </div>
                        </div>
                    {% endif %}
                    <div class='fields'>
                        <div class='four wide field'>
                            <label>Arquivo</label>

                            <div>
                                {{ form.caminho_apk }}
                                {% if form.caminho_apk.errors %}
                                    <div class="ui red pointing label">
                                        {{ form.caminho_apk.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="ui verde button">Salvar</button>
                </form>

                <h2 class='ui header'>
                    <i class="fa fa-motorcycle icone"></i> Download APK
                </h2>
                <a href='/download-apk/{{ down }}/'>
                    <button type="button" class="ui cancel red button">Download</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
